<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin plans Chachu super store </title>
    <style>
        .menu tr th {
            background-color: grey;
            border-radius: 4px;
        }
        .menu tr th {
            padding: 20px;
        }
        .menu tr th:hover{
            background-color:rgb(113, 81, 23);
        }
        .menu tr th a{
            text-decoration: none;
        }
        .menu tr th a:hover{
            color: orange;
        }
    </style>
</head>
<body>
    <table width='100%'>
        <tr height='200px'>
            <th style='background-color:rgb(113, 81, 23) ; border-radius: 30px; font-size: 20px; font-style: italic;'>
                Chachu  Super Store !!  
            </th>
        </tr>
        <tr height='49px'>
        </tr>
    </table>
    <div class='menu'>
    <table align='center'>
        <tr>
            <th>
                <a href='view_challans/'>Check Plans requests</a> 
            </th>
        </tr>
        <tr height='20px'></tr>
        <tr>
            <th>
                <a href='admin/'>Main Admin Panel </a>
            </th>
        </tr>
        <tr height='20px'></tr>
        <tr>
            <th>
                <a href='show_shop_data/'>Check Shop Request </a>
            </th>
        </tr>
    </table>
    </div>
</body>
</html>