<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose your Plan From Chachu Super store </title>
    <style>
        .sarfraz tr th {
            background-color: grey;
            padding: 10px;
            border-radius: 4px;
            font-style: italic;
        }
        .sarfraz tr th:hover{
            background-color: goldenrod;
        }
        .sarfraz tr th a{
            text-decoration: none;
            color: rgb(113, 81, 23) ;
        }
        .sarfraz tr th a:hover{
            color: rgb(11, 73, 80);
        }
    </style>
</head>
<body>
    <table width='100%'>
        <tr height='200px'>
            <th style='font-style: italic; font-size: 30px; background-color:  rgb(113, 81, 23); border-radius: 30px;'>
                Chachu Super store 
            </th>
        </tr>
        <tr height='40px'></tr>
    </table>
    <div class='sarfraz'>
    <table align='center'>
        <tr>
            <th>
               <a href='upload_challan/'>Upload Your Paid Challan</a>  
            </th>
        </tr>
        <tr height='30px'></tr>
        <tr>
            <th>
               <a href='#'>Download Your Challan</a>
            </th>
        </tr>
        <tr height='200px'>
            <th style='background-color: WHITE;'>ALL rights Reserved at @Chachu Super Store
            </th>

        </tr>
    </table>
</div>
</body>
</html>