<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Recovery Email </title>
</head>
<body style='font-style: italic;'>
    <table width='100%'>
        <tr height='140px'>
            <th style='border-radius: 20px; background-color:  rgb(113, 81, 23); font-size: 30px;'>
                Chachu Super Store 
            </th>
        </tr>
        <tr height='40px'></tr>
        <tr>
            <th>
                Dear Customer,<br> Your Shop data from Chachu super Store is <br>
                Shop ID  : {{ shop_id }}<br>
                Shop Name :{{ shop_name }}<br>
                Use this Data to get the admin access to your shop <br>Thanks for visiting 
                us 
            </th>
        </tr>
    </table>
    
</body>
</html>