<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Email </title>
</head>
<body>
    <table width='100%'>
        <tr height='140px'>
            <th style='background-color:  rgb(113, 81, 23); border-radius: 20px; font-size: 30px;'>
                Chachu Super Store 
            </th>
        </tr>
        <tr height='40px'></tr>
        <tr>
            <th>Dear Consumer ,<br>A new order at your products is avaiable <br><br>
                Customer Data::<br>
                Name ={{ name }}<br>
                Email={{ email }}<br>
                Phone_number={{ phone_number }}<br>
                Postal Code ={{ postal_code }}<br>

            </th>
        </tr>
        <tr height='70px'><th>Best Of Luck.Regards Chachu Super Store </th></tr>
    </table>
    
</body>
</html>