<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Approval Email Islamia Universty Of Bahawalpur </title>
</head>
<body>
    <table>
        <tr height='100px'>
            <th style='background-color:  rgb(113, 81, 23); border-radius: 20px; font-size: 30px;'>
                Chachu Super Store 
            </th>
        </tr>
        <tr height='40px' style='font-style: italic;'>
            <th>
                Dear customer ,<br><br>
                Your Request For Opening a new Shop at Chachu Super Store has been approved successfully !! <br> Your SHOP_ID IS ::: <br>{{ shop_id }}
                <br>Remember this to get the admin entry to your shop <br>Thanks for visiting us 
            </th>
        </tr>
    </table>
    
</body>
</html>